*{
    background: white;
}


.header{
    text-align: center;
    font-family: Abril Fatface;
    font-size: 2em;
}

.navs{
    margin: 0 auto;
    text-align: center;
}

.nav{
    margin: 0 70px;
}

.nav a{
    text-decoration: none;
}


.details{
    width: 20%;
    height: 500px;
    border: 4px solid black;
    display: inline;
    float: left;
}

.works{
    width: 20%;
    height: 500px;
    border: 4px solid black;
    display: inline;
    float: right;
}

.topContainer{
    height: 250px
}

.authorImage{
    margin: 35px;
    width: 50px
}

.authorName{
    float: right;
    width: 100%;
    text-align: center;
    font-size: 1.8em;
}

.authorBio{
    padding: 0 14px;
    height: 40%;
    border: 1px solid black;
    top: 35px;
    overflow: auto;
}

.authorBio h4{
    text-align: center;
}

.showData{
    width: 60%;
    overflow: scroll;
    height: 500px;
    border: 2px solid black;
    text-align: center;
}

main{
    margin: 15px auto 0;
}

.author{
    background-color: black;
    color: white;
    height: 20px;
    margin-top: 2px;
    position: relative;
}

.authorWorks{
    margin:20px;
    overflow: scroll;
    height: 25%;
}

.contactView{
    margin: 21% auto;
}

.aboutView{
    text-align: left;
    padding: 45px;
}

.selected {
    stroke: red;
    stroke-width: 2px;
}