@keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

.lander{
    height: 100%;
    width: 100%;
    background-color: black;
    color: #f8fcf8;
    text-align: center;
    font-family: 'Abril Fatface', serif;
    font-size: 25em;
    z-index: 1;
    opacity:1;
}

.header{
    text-align: center;
}

.navs{
    margin: 0 auto;
    text-align: center;
}

.nav{
    margin: 0 70px;
}

.nav a{
    text-decoration: none;
}

.main{
    z-index: -1;
    position: relative;
    top: -919px;
}

.details{
    width: 240px;
    height: 500px;
    border: 4px solid black;
    display: inline;
    float: left;
}

.topContainer{
    height: 250px
}

.authorImage{
    position: relative;
    top: 35px;
    left: 35px;
}

.authorBio{
    margin: 20px;
    padding: 5px;
    height: 130px;
    border: 1px solid black;
    position: relative;
    top: 35px;
    overflow: auto;
}

.showData{
    width: 900px;
    height: 500px;
    margin: 15px auto;
    border: 2px solid black
}

.author{
    background-color: black;
    color: white;
    height: 20px;
    margin-top: 2px;
    position: relative;
}

.authorWorks{
    margin:20px;
}

.selected {
    stroke: red;
    stroke-width: 2px;
}