<!DOCTYPE html>
<html lang="en" ng-app="snklApp">
<head>
    <meta charset="UTF-8">
    <title>SNKL</title>
    <script type="text/javascript" src="./vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="./vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="./assets/scripts/app.min.js"></script>
    <script type="text/javascript" src="./assets/scripts/controllers/controllers.min.js"></script>
</head>
<body>

    <main ng-view></main>

</body>
</html>